.profile-page-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-top: var(--space-sm);
}
.profile {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  background: white;
  width: 25rem;
  padding: var(--space-sm);
  border-radius: 1rem;
}
.logout-btn {
  width: 7rem;
}
